<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Remove Item
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Remove Item</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item  *ngFor="let item of itemlist" (click)="setItemRemove(item.id, item.name)">
      <ion-icon name="remove-circle"></ion-icon>
      <app-list-item [itemName]="item.name"></app-list-item>
    </ion-item >
  </div>
  <ion-alert
    [isOpen]="isAlertOpen"
    header="Alert"
    subHeader="Delete Contact"
    message={{itemRemoveName}}
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"
  ></ion-alert>
</ion-content>
